@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
body{ font-family: 'Raleway', sans-serif; }

h1{
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

a{
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    cursor: default;
}

button{
    height: 30px;
    width: 100px;
    display: inline;
    margin-top: 10px;
    color: #ffffff;
    background-color: Transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    transition: all 0.1s ease;
}

button:hover{
    background-color: rgba(255,255,255,0.2);
}

button:focus{
    outline: none;
    box-shadow: 0 0 2px #ffffff;
}

input{
    height: 32px;
    width: 200px;
    background-color: Transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    text-align: left;
    padding-left: 35px;
    font-weight: 100;
    font-size: 13px;
    color: #ffffff; 
}

input::placeholder{
  color: rgba(255,255,255,0.7);
}

input:focus{
    outline: none;
    box-shadow: 0 0 2px #ffffff;
}

.spacer{
    margin-top: 15px;
    cursor: default;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-style: italic;
    display:none;
}