@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
body{ font-family: 'Raleway', sans-serif; }

input{
    text-align: center;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.settingsbox{
    margin-top: 25px;
    text-align: center;
}

.theme{
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: Transparent;
    border-radius: 15px;
    border: none;
}

.theme:hover{
    outline: none;
    box-shadow: 0 0 2px #ffffff;
}