<html>
    <head>
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Index</title>
    </head>
    <body>
        <script>document.body.style.background = "linear-gradient(to right, {{user.c1}}, {{user.c2}})"</script>
        <div class="navspace">
            <div class="navblock">
                <a href="/logout"><img id=logout class="navcon" src="../static/media/exit.png"/></a>
            </div>
            <div class="navblock">
                <a href="/settings"><img id=settings class="navcon" src="../static/media/edit.png"/></a>
            </div>
        </div>
        <div class="navspace">
            <div class="navblock">
                <div id=logout-text class="text">Logout</div>
            </div>
            <div class="navblock">
                <div id=settings-text class="text">Settings</div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="../static/js/index.js"></script>
    </body>
</html>
