<html>
    <head>
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="../static/css/login.css">
        <title>Login</title>
    </head>
    <body>
        <img class="logo" src="../static/media/logo.png"/>
        <div id="loginbox" class="loginbox">
            <h1>Login</h1>
            <div class="inputspace">
                <div class="inputtext">
                    <img class="icon" src="../static/media/user.png"/>
                    <input type="text" id="username" name="username"></input>
                </div>
                <div class="inputtext">
                    <img class="icon" src="../static/media/pass.png"/>
                    <input type="password" id="password" name="password"></input>
                </div>
                <div class="inputtext">
                    <img class="icon" src="../static/media/mail.png"/>
                    <input type="text" id="email" name="email" placeholder="optional"></input>
                </div>
                <button id="login">Login</button>
                <button id="register">Register</button>    
                <div id="spacer" class="spacer"></div>
            </div>  
        </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="../static/js/login.js"></script>
    </body>
</html>