<html>
    <head>
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="../static/css/settings.css">
        <title>Settings</title>
    </head>
    <body>
        <script>document.body.style.background = "linear-gradient(to right, {{user.c1}}, {{user.c2}})"</script>
        <div class="settingsbox">
            <h1>Settings</h1>
            <div><a>Username</a></div>
            <div>
                <input type="text" id="username" name="username" placeholder="{{user.username}}" readonly></input>
            </div>
            <div><a>Password</a></div>
            <div>
                <input type="password" id="password" name="password" placeholder=&#x2022&#x2022&#x2022&#x2022&#x2022></input>
            </div>
            <div><a>Email</a></div>
            <div>
                <input type="text" id="email" name="email" placeholder="{{user.email}}"></input>
            </div>
            <div><a>Theme</a></div>
            <div>
                <button id="#360033/#0b8793" style="background:linear-gradient(to right, #360033, #0b8793)" class="theme"></button>
                <button id="#ff6e7f/#bfe9ff" style="background:linear-gradient(to right, #ff6e7f, #bfe9ff)" class="theme"></button>
            </div>
            <button id="exit">Exit</button>
            <button id="save">Save</button> 
            <div id="spacer" class="spacer"></div>
        </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="../static/js/settings.js"></script>
    </body>
</html>